.od-layout {
  display: grid;
  overflow: hidden;
  width: 100%;
  max-width: 1024px;
  margin: 0 auto;
}

.od-layout--cols3 {
  grid-template-columns: repeat(3, 1fr);
  column-gap: 12px;
}

.od-layout--cols2 {
  max-width: 100%;
  grid-template-columns: 320px 1fr;
  column-gap: 0px;
}
