.od-link {
  display: flex;
  flex-direction: row;
  align-items: center;
  color: var(--color-text-primary);
  cursor: pointer;
  width: fit-content;
  text-decoration: none;
  white-space: nowrap;
}

.od-link__text {
  margin-left: 4px;
}
